wheel
torch==2.1.2
flask
requests
gevent
faster-whisper
fsspec
wget
omegaconf
opencc
funasr
pydub
modelscope
nemo_toolkit==1.21.0
deepmultilingualpunctuation
torchaudio
pytorch_lightning
pandas
youtokentome
inflect
webdataset
pyannote.audio==1.1.1
jiwer
IPython